section.c-accordion
  h2| información de producto
  div
    p| Soy la descripción de un producto. Soy el lugar ideal para agregar detalles sobre tu producto, así como tamaño, materiales, instrucciones de cuidado y de limpieza. Es también un lugar ideal para destacar por qué este producto es especial y cómo tus clientes se beneficiarían con él.
  h2| política de devolución y reembolso
  div 
    p| Soy una política de devolución y reembolso. Una oportunidad ideal para explicarles a tus clientes qué hacer en caso de no estar satisfechos con su compra. Al ofrecerles una política de reembolso clara y sencilla, generas confianza y credibilidad en tus clientes, pues saben que en tu tienda pueden realizar compras con altos niveles de seguridad.
  h2|  información del envío
  div 
    p| Soy la Política de envío. Soy el lugar ideal para agregar información sobre tus métodos de envío, costos y embalaje. Ofrecer una política de reembolso clara y sencilla, genera confianza y credibilidad en tus clientes, pues saben que en tu tienda pueden realizar compras con altos niveles de seguridad.