footer.c-footer
  .l-container.c-footer__content
    .c-footer__col
      h4| Newsletter
      p| Suscríbase ahora para recibir las informaciones y ofertas exclusivas
      a.c-footer__link(href="#")| Your email
    .c-footer__col
      h4| Tiendas
      p| Encuentra tu tienda más cercana
      a.c-footer__link(href="tiendas.html")| Buscar
    .c-footer__col
      h4| Contacto
      p| Servicio de Atención al cliente<br>Nuestro equipo está para atenderte y para responder a todas tus dudas.<br>¿Necesitas consejo o hacer tu pedido por teléfono?<br>+51 997233221 (Número de teléfono de tarificación especial)<br>De lunes a jueves : 9h00 - 12h30 / 14h00 - 18h00*<br>Los viernes : 9h00 - 12h30 / 14h00 - 16h30*<br>*Excepto los dias festivos de Perù
      a.c-footer__link(href="contacto.html")| Escribenos
