extends templates/layout

block header
	include templates/header
block main
	main
		include templates/main-banner

		section.c-section
			div.c-section__content
				p| CAVEMAN WEAR es una marca de indumentaria de estilo urbano, creada para hombres y mujeres con espíritu juvenil; que comparten su pasión por el arte, la música, y los deportes extremos. Con un concepto y diseño único inspirado en el hombre de las cavernas o cavernícola, CAVEMAN WEAR ofrece confort y detalles soﬁsticados para una vida relajada, elegante y con buen gusto. Sus diseños buscan el equilibrio entre lo  clásico y moderno, creando prendas que se adaptan a toda ocasión. CAVEMAN WEAR pone especial atención en la confección de todas sus líneas; ofreciendo Gorras, Hoodies, Poleras, Camisetas y accesorios; de carácter único y exclusivo.
	include templates/footer
	