extends templates/layout

block header
	include templates/header
block main
	main
		
		section.c-section.c-section--spaced
			header.c-section__header
				h2| Tiendas
			div.c-section__content
				p|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sapiente tempora corporis quidem, laboriosam nihil esse debitis voluptatum ea odio provident illum nisi, veniam, sequi quaerat tempore explicabo, et rerum!

	include templates/footer
	