extends templates/layout

block header
	include templates/header
block main
	main
		
		section.c-section.c-section--spaced.u-pb-0
			//- header.c-section__header
				//- h2| Tiendas
			div.c-section__content--full
				form.c-formmap
					fieldset
						label
							| ENCUENTRA UNA TIENDA CERCA DE CASA
						br
						br
						select#myCity(name='myCity', class='c-form__field c-form__field--select')
							option(value='None') Seleccione una ciudad
							option(value='LI') Lima
							option(value='TRU') Trujillo
							option(value='ARE') Arequipa
				#map.c-map


	include templates/footer
	