*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: helvetica, sans-serif;
	line-height: 1.4;
	font-weight: 100;
}

h1{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

img{
	max-width: 100%;
}