.c-header{
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	top: 0;
	border-bottom: solid 1px #ccc;
	@media screen and (max-width: 1024px){
		flex-direction: row-reverse;
	}
	&__navigation{
		flex-grow: 1;
		@media screen and (max-width: 1024px){
			transition: transform 300ms;
			transform: translateX(100%);
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255,255,255,0.9);
			z-index: 999999;
			.u-navigation--visible &{
				transform: translateX(0);
			}
		}
	}
}

.c-menu{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	@media screen and (max-width: 1024px){
		flex-direction: column;
		//height: 100vh;
		//justify-content: space-evenly;
	}
	li{
		list-style: none;
		width: 15%;
		text-align: center;
		@media screen and (max-width: 1024px){
			width: auto;
			font-size: 5vh;
			font-weight: bold;
		}
	}
	a{
		color: inherit;
		text-decoration: none;
		display: block;
		padding: 20px 30px;
	}
}

.c-buttonmenu{
	display: none;
	border-top: solid 8px black;
	border-bottom: solid 8px black;
	border-left: none;
	border-right: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -999px;
	position: relative;
	clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
	cursor: pointer;
	transition: transform 200ms;
	&:before{
		content: "";
		display: block;
		background-color: black;
		position: absolute;
		width: 100%;
		height: 8px;
		left: 0;
		top: 50%;
		margin-top: -4px;
	}
	.u-navigation--visible &:not(.c-buttonmenu--x){
		transform: rotate(45deg);
	}
	&--x{
		clip-path: none;
		height: 40px;
		padding: 0;
		overflow: hidden;
		text-indent: -999px;
		position: relative;
		border: none;
		margin: 3px 15px;
		&:after, &:before{
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -3px;
			display: block;
			width: 100%;
			height: 6px;
			background-color: #000;
			transform: rotate(-45deg);
		}
		&:after{
			transform: rotate(45deg);	
		}
	}
	@media screen and (max-width: 1024px){
		display: inline-block;
	}

}

.c-banner{
	// height: 700px; vamos a ver
	position: relative;
	overflow: hidden;
	
	&--main{
		height: 100vh;
		@media screen and (max-width: 1024px){
			//height: 75vh;
			height: auto;
			margin-top: 46px;
		}
		.slick-list, .slick-track, .slick-slide > div{
			//height: inherit;
		}
	}
	&__video{
		position: absolute;
		top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
	}
	&__item{
		height: inherit;
	}
	&__image{
		height: inherit;
		width: 100%;
		object-fit: cover; //scale-down;
		object-position: center center;
	}
}

.c-products{
	// display: flex;
	// justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 80px 0;
	text-align: center;
	&__item{
		// width: 24%;
	}
	&__link{
		display: block;
		text-decoration: none;
		color: inherit;
		&:hover .c-products__hidden-text{
			transform: translateY(0%);
		} 
	}
	&__container-image{
		position: relative;
		overflow: hidden;
	}
	&__image{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	&__hidden-text{
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 20px 10px;
		background-color: #ffffffb3;
		transform: translateY(100%);
		transition: transform 300ms;
	}
}

.c-title{
	background-color: rgba(47,46,46,1);
	color: #fff;
	display: inline-block;
	width: 200px;
	padding: 15px 30px;
	text-align: center;
	@media screen and (max-width: 1024px){
		width: auto;
		font-size: 17px;
	}
}

.c-footer{
	background-color: rgba(47, 46, 46, 1);
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
	&__content{
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px){
			flex-direction: column;
		}
	}
	&__col{
		//width: 32%;
	}
	&__link{
		display: inline-block;
		padding: 5px 30px;
		background-color: #444;
		color: inherit;
		text-decoration: none;
	}
	p{
		font-size: 11px;
	}
}

.c-section{
	&--spaced{
		padding: 60px 0;
	}
	&__header, &__content{
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	&__content{
		padding: 60px 0;
		@media screen and (max-width: 1024px){
			padding-left: 15px;
			padding-right: 15px;
			
		}
		@media screen and (max-width: 767px){
			max-width: none;
		}
	}
	&__content--full{
		display: flex;
		@media screen and (max-width: 1024px){
			flex-direction: column;
		}
	}
	&__header{
		text-align: center;
		margin-top: 60px;
		margin-bottom: 60px;
	}
}


.c-form{
	padding-top: 40px;
	&__row{
		display: flex;
		justify-content: space-between;
		&--fields{
			height: 110px;
			@media screen and (max-width: 767px){
				height: auto;
			}
		}
		@media screen and (max-width: 767px){
			flex-direction: column;
		}
	}
	&__column{
		width: 49%;
		@media screen and (max-width: 767px){
			width: auto;
		}
		&--flex{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__label{
		display: none;
	}


	&__field{
		width: 100%;
		padding: 5px;
		font-family: inherit;
		font-size: inherit;
		border: solid 1px #ccc;
		box-shadow: 0 0 5px rgba(#666, 0.3);
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		@media screen and (max-width: 767px){
			margin-top: 10px;
		}
		&--textarea{
			//height: 100px;
			height: 100%;
			resize: none;
			@media screen and (max-width: 767px){
				height: 150px;
			}
		}
		&--select{
			background-image: url("../images/chevron-down.svg");
			background-repeat: no-repeat;
			background-position: right 10px center;
		}
	}

	&__btn{
		border: solid 1px #ccc;
		background-color: rgba(219, 184, 154, 1);
		box-shadow: 0 0 5px rgba(#666, 0.3);
		padding: 10px;
		margin: 10px 0;
		cursor: pointer;
		color: #fff;
		font-size: inherit;
	}
}


.c-formmap{
	width: 50vw;
	display: flex;
	justify-content: flex-end;
	fieldset{
		display: block;
		width: 565px;
		max-width: 565px;
		border: none;
		padding: 60px;
		@media screen and (max-width: 767px){
			padding: 15px;
		}
	}
	@media screen and (max-width: 1024px){
		width: auto;
		justify-content: center;
		text-align: center;
	}
	
}
.c-map{
	height: 400px;
	width: 50vw;
	@media screen and (max-width: 1024px){
		width: 100%;
	}
}

.c-product{
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 767px){
		flex-direction: column;
	}
	&__image{
		width: 45%;
		margin-left: 0;
		margin-right: 0;
		@media screen and (max-width: 767px){
			width: auto;
		}
	}
	&__body{
		width: 45%;
		@media screen and (max-width: 767px){
			width: auto;
		}
	}
	&__title, &__subtitle{
		font-weight: lighter;
	}
}


.photo{
	display: block;
	text-align: center;
	border: solid 1px #ccc;
	img{
		background-color: #FFF;
		height: 400px;
	}
}

// PARALLAX
.slick-prev, .slick-next{
	z-index: 9;
	@media screen and (max-width: 1024px){
		width: 40px;
		height: 40px;
		background-color: transparent;
		&:before{
			font-size: 40px;
		}
	}
}
.slick-prev{
	left: 25px;
}
.slick-next{
	right: 25px;
}


.c-accordion{
	border-bottom: solid 1px black;
	margin-top: 40px;
	h2{
		margin: 0;
		text-transform: uppercase;
		display: flex;
		font-weight: 300;
		font-size: 17px;
		padding: 5px 0;
		justify-content: space-between;
		border-top: solid 1px black;
		cursor: pointer;
		&:after{
			content: "+";
		}
		&.active:after{
			content: "-";
		}
	}
	p{
		margin-top: 0;
		font-size: 13px;
	}
	div{
		display: none;
		padding: 1px 0;
	}
}


